body {
  background-color: green;
  background-image: url("elements.jpeg");
  background-size: 50% 25%;
}

h1 {
  color: white;
  text-align: center;
  font-family: impact;
  font-size: 90px;
}

h2 {
  color: brown;
  text-align: center;  
  font-family: garamond;
  font-size: 45px;
}
h3 {
  color: orange;
  text-align: center;
  font-family: garamond;
  font-size: 45px;
  border: 3px white;
}

.center {
  display: block;
  margin-top: 75px;
  margin-left: auto;
  margin-bottom: 75px;
  margin-right: auto;
  height: 350px;
  width: 300px;
}

.centerImage {
  display: block;
  margin-top: 75px;
  margin-left: auto;
  margin-bottom: 75px;
  margin-right: auto;
  width: 50%;
}


